GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxx
GOOGLE_REFRESH_TOKEN=1//xxxxx

DOCTOR_EMAIL=cabinet.drkhiri.test@gmail.com
GOOGLE_CALENDAR_ID=cabinet.drkhiri.test@gmail.com

FRONTEND_URL=http://localhost:8006
API_SECRET_KEY=mon-secret-123
PORT=8006
